<style>
  md-card {
    height : 97vh;
  }
  md-content {
    margin: 1em;
  }
  md-button {
	  background-color : rgba(51, 204, 51, 1);
	}
	md-button:hover {
	  background-color: rgba(0, 153, 51, 1);
	}

</style>
<div class="fit section-gallery" layout-align="center center" layout-fill>
	<section class="flex">
	  <md-card layout-margin layout-padding flex>
		  <section layout="row" layout-align="end center">
	      <md-button ng-disabled="!($parent.channels && $parent.media)" class="ion-edit md-raised md-cornered" aria-label="Edit" ng-click="edit()">
	        <md-tooltip>
	          Edit
	        </md-tooltip>
	      </md-button>
	    </section>
		  <section layout="row" flex layout-align="center center">
			  <label class="md-display-4">{{ title }}</label>
			</section>
			<section layout="row" flex layout-align="center center"> 
			  <md-button ng-disabled="!($parent.channels && $parent.media)" class="ion-arrow-right-b cast-play md-fab md-raised" aria-label="Play" ng-click="play()">
		      <md-tooltip>
		        Play
		      </md-tooltip>
		    </md-button>
			</section>
		</md-card>
	</section>
</div>