<style>
  .cast-play {
    margin-top: 10em;
  }
  .channel-list {
    overflow-y: auto;
    height: 20em;
  }
  md-card.main {
    height : 97vh;
  }
  md-content {
    margin: 1em;
  }
  md-button {
    background-color : rgba(51, 204, 51, 1);
  }
  md-button:hover {
    background-color: rgba(0, 153, 51, 1);
  }

</style>
<div class="fit section-gallery" layout-align="center center" layout-fill>
  <section class="flex">
    <md-card flex layout-padding layout-margin class="main">
	    <section layout="row" layout-align="start center">
	      <md-button class="ion-close md-raised md-cornered" aria-label="Close" ng-click="close()">
	        <md-tooltip>
	          Close
	        </md-tooltip>
	      </md-button>
	    </section>
	    <!-- <section layout="row" flex layout-align="center center">
	      <label class="md-display-1">{{ title }}</label>
	    </section> -->
	    <md-card layout="row" layout-align="center center">
		    <section flex class="md-padding">
		      <md-subheader class="md-no-sticky">Channels</md-subheader>
			    <md-list class="channel-list">
			      <md-list-item ng-repeat="channel in channels" ng-click="editChannel(channel)">
					    <p>{{channel.name}}</p>
					    <section class="md-secondary ion-close md-raised md-cornered" ng-click="deleteChannel(channel)"></section>
					  </md-list-item>
			    </md-list>
		    </section>
	    </md-card>
	    <section layout="row" flex layout-align="end center"> 
	      <md-button class="ion-plus cast-play md-fab md-raised" aria-label="Add" ng-click="add()">
	        <md-tooltip>
	          Add Channel
	        </md-tooltip>
	      </md-button>
	    </section>
    </md-card>
  </section>
</div>