<style>
  .cast-play {
    margin-top: 10em;
  }
  md-card {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  md-content {
    margin: 1em;
  }
  md-button {
    background-color : rgba(51, 204, 51, 1);
  }
  md-button:hover {
    background-color: rgba(0, 153, 51, 1);
  }

</style>
<div class="fit section-gallery" layout-align="center center" layout-fill>
  <md-content flex class="md-padding fit" layout-fill layout-padding layout-margin>
    <section layout="row" flex layout-align="start center">
      <md-button class="ion-close md-raised md-cornered" aria-label="Close" ng-click="close()">
        <md-tooltip>
          Close
        </md-tooltip>
      </md-button>
    </section>
    <section layout="row" flex layout-align="center center">
      <label class="md-display-1">{{ title }}</label>
    </section>
    <section layout="row" flex layout-align="center center">
	    <md-card flex class="md-padding">
		    <md-list>
		      <md-subheader class="md-no-sticky">Channels</md-subheader>
		      <md-list-item ng-repeat="channel in channels" ng-click="editChannel(channel)">
				    <p>{{channel.name}}</p>
				    <section class="md-secondary ion-close md-raised md-cornered" ng-click="deleteChannel(channel)"></section>
				  </md-list-item>
		    </md-list>
	    </md-card>
    </section>
    <section layout="row" flex layout-align="end center"> 
      <md-button class="ion-plus cast-play md-fab md-raised" aria-label="Add" ng-click="add()">
        <md-tooltip>
          Add Channel
        </md-tooltip>
      </md-button>
    </section>
  </md-content>
</div>