<style>
  .cast-play {
    margin-top: 10em;
  }
  .flex-scroll {
    overflow-y: auto;
    height: 25em;
  }
  .overflow {
    overflow-y: auto;
  }
  .tiny { 
    height : .5em;
  }
  .small {
    height : 4em;
  }
  .large { 
    height : 10em;
  }
  .play-view {
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
  }
  .display-image {
    display: flex;
    height: 25em;
    max-width: 20em;
    width: auto;
  }
  .progress {
    margin-bottom : 1.5em;
  }
  md-card {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  md-content {
    margin: 1em;
  }
  md-button {
    background-color : rgba(51, 204, 51, 1);
  }
  md-button:hover {
    background-color: rgba(0, 153, 51, 1);
  }
</style>
<div class="fit section-gallery" layout-align="center center" layout-fill>
  <div layout="column" layout-fill>
    <section layout="row" flex layout-align="center center" class="play-view">
      <div layout="row" flex>
       <md-card flex layout="column">
         <div layout="row" flex>
		       <label layout-align="center center" class="md-display-3 md-padding" flex>{{ params.cName }}</label>
		       <section layout="row" flex="20" layout-align="end center">
		         <md-button flex class="ion-forward md-raised md-cornered" ng-click="toggleItem('mediaView')"></md-button>
             <md-button flex class="md-raised md-cornered" ng-class="castClass()" ng-click="controls.toggleCast()"></md-button>
             <md-button flex class="md-raised md-cornered ion-refresh" ng-click="controls.refreshCast()"></md-button>
             <md-button flex class="ion-close md-raised md-cornered" aria-label="Close" ng-click="close()"></md-button>
			     </section>
	       </div>
	       <div flex layout="column" ng-if="params.mediaView">
	         <md-subheader class="md-no-sticky">Now Playing</md-subheader>
	         <div flex layout="row">
	           <img class="md-padding display-image" ng-src="{{params.media.poster}}"/>
	           <div flex layout="column">
	             <md-subheader class="md-no-sticky">Summary</md-subheader>
	             <p flex class="md-padding tiny">{{params.media.plot}}</p>
	             <div flex layout="row" layout-wrap class="large">
	               <div flex layout="column">         
	                 <md-list flex>
	                   <md-subheader class="md-no-sticky">Genre</md-subheader>
					           <div class = "overflow">
					             <md-list-item flex class="md-1-line" ng-repeat="genre in params.media.genre">
					               <div class="md-list-item-text">
					                 <p>{{ genre }}</p>
					               </div>
					             </md-list-item>
					           </div>
					         </md-list>
	               </div>
	               <div flex layout="column">
                   <md-subheader class="md-no-sticky">Year</md-subheader>
                   <p flex class="md-padding">{{params.media.year}}</p>
                 </div>
                 <div flex layout="column">
                   <md-subheader class="md-no-sticky">Rated</md-subheader>
                   <p flex class="md-padding">{{params.media.rated}}</p>
                 </div>
                 <div flex layout="column">
                   <md-subheader class="md-no-sticky">Runtime</md-subheader>
                   <p flex class="md-padding">{{params.media.runtime}}</p>
                 </div>
                 <div flex layout="column">
                   <md-subheader class="md-no-sticky">Imdb Rating</md-subheader>
                   <p flex class="md-padding">{{params.media.rating}}</p>
                 </div>
                 <div flex layout="column" ng-if="params.media.type === 'tv'">
                   <md-subheader class="md-no-sticky">Ep</md-subheader>
                   <p flex class="md-padding">{{params.epNumber()}}</p>
                 </div>
	             </div>
	             <section layout="row" layout-align="center end" class="small"> 
	               <md-button class="cast-play md-fab md-raised ion-skip-backward" ng-click="controls.prevMedia()"></md-button>
	               <md-button class="cast-play md-fab md-raised ion-android-favorite" ng-click="controls.like()"></md-button>
	               <md-button class="cast-play md-fab md-raised" ng-click="controls.playMedia()" ng-class="playClass()"></md-button>
	               <md-button class="cast-play md-fab md-raised ion-skip-forward" ng-click="controls.skipMedia()"></md-button>
	               <md-slider id="progress" class="md-padding md-margin progress" flex min="0" max="100" ng-model="params.progress" ng-mouseup="controls.seekMedia()"></md-slider>
              </section>
	           </div>
	         </div>
	       </div>
	       <md-list flex ng-if="!params.mediaView">
           <md-subheader class="md-no-sticky">Media</md-subheader>
           <div class = "flex-scroll">
             <md-list-item flex class="md-1-line" ng-repeat="item in controls.mediaMeta()" ng-click="controls.loadMedia(item.id)">
               <img ng-src="{{item.poster}}" class="md-avatar"/>
               <div class="md-list-item-text">
                 <p>{{ item.name }}</p>
               </div>
             </md-list-item>
           </div>
         </md-list>
        </md-card>
      </div>
      <div layout="row" flex="15" layout-align="center center">
        <div flex layout="column" layout-padding layout-margin>
	        <md-card flex layout="column">
	          <md-subheader class="md-no-sticky">Channel</md-subheader>
	          <md-button flex layout-align="start center" class="ion-arrow-up-b md-raised md-cornered" ng-click="controls.chanUp()"></md-button>
            <md-button flex layout-align="start center" class="ion-arrow-down-b md-raised md-cornered" ng-click="controls.chanDown()"></md-button>
	          <md-subheader class="md-no-sticky">Volume</md-subheader>
	          <md-slider flex min="0" max="100" ng-model="params.volume" ng-mouseup="controls.setVolume()"></md-slider>
	          <md-subheader class="md-no-sticky">Options</md-subheader>
	          <md-checkbox ng-model="params.sticky" class="md-padding">Sticky</md-checkbox>
	          <md-checkbox ng-model="params.newest" class="md-padding">Newest</md-checkbox>
	          <md-checkbox ng-model="params.ordered" ng-click="controls.ordered()" class="md-padding">Ordered</md-checkbox>
	        </md-card>
        </div>
      </div>
    </section>
  </div>
</div>