<style>
  .cast-play {
    margin-top: 10em;
  }
  .flex-scroll {
    overflow-y: auto;
    height: 15em;
  }
  .small {
    height : 4em;
  }
  .display-image {
    display: flex;
    height: 15em;
    width: auto;
  }
  md-card {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  md-card md-button {
    margin: 2em;
  }
  md-content {
    margin: 1em;
  }
  md-button {
    background-color : rgba(51, 204, 51, 1);
  }
  md-button:hover {
    background-color: rgba(0, 153, 51, 1);
  }

</style>
<div class="fit section-gallery" layout-align="center center" layout-fill>
  <div layout="column" layout-fill>
    <section layout="row" flex="10" layout-align="start center">
      <md-button layout-align="start center" class="ion-close md-raised md-cornered" aria-label="Close" ng-click="close()"></md-button>
      <md-button layout-align="end center" class="md-raised md-cornered" ng-class="castClass()" ng-click="controls.toggleCast()"></md-button>
    </section>
    <section layout="row" flex="75" layout-align="center center">
      <div layout="column" flex="10"></div> <!-- Blank placeholder -->
      <div layout="row" flex>
       <md-card flex layout="column">
         <div layout="row" flex>
		       <label layout-align="center center" class="md-display-3 md-padding" flex>{{ params.cName }}</label>
		       <md-button layout-align="end center" class="ion-forward md-raised md-cornered" ng-click="toggleItem('mediaView')" flex="10"></md-button>
	       </div>
	       <div flex layout="column" ng-if="params.mediaView">
	         <md-subheader class="md-no-sticky">Now Playing</md-subheader>
	         <div flex layout="row">
	           <img class="md-padding display-image" ng-src="{{params.media.poster}}"/>
	           <div flex layout="column">
	             <p flex class="md-padding">{{params.media.plot}}</p>
	             <div flex layout="row">
	               <p flex class="md-padding">{{params.media.genre}}</p>
	               <p flex class="md-padding">{{params.media.rated}}</p>
	               <p flex class="md-padding">{{params.media.rating}}</p>
	               <p flex class="md-padding">{{params.media.year}}</p>
	               <p flex class="md-padding">{{params.media.runtime}}</p>
	               <p flex class="md-padding" ng-if="params.media.type === 'tv'">{{params.ep}}</p>
	             </div>
	           </div>
	         </div>
	       </div>
	       <md-list flex ng-if="!params.mediaView">
           <md-subheader class="md-no-sticky">Media</md-subheader>
           <div class = "flex-scroll">
             <md-list-item flex class="md-1-line" ng-repeat="item in controls.mediaMeta()">
               <img ng-src="{{item.poster}}" class="md-avatar"/>
               <div class="md-list-item-text">
                 <p>{{ item.name }}</p>
               </div>
             </md-list-item>
           </div>
         </md-list>
        </md-card>
      </div>
      <div layout="column" flex="10" layout-align="center center">
        <md-button layout-align="start center" class="ion-arrow-up-b md-raised md-cornered" ng-click="controls.chanUp()"></md-button>
        <md-button layout-align="start center" class="ion-arrow-down-b md-raised md-cornered" ng-click="controls.chanDown()"></md-button>
      </div>
    </section>
    <section layout="column" flex="10" class="md-padding">
		  <section layout="row" layout-align="center end" class="small"> 
		     <md-button class="cast-play md-fab md-raised ion-skip-backward" ng-click="controls.prevMedia()"></md-button>
		     <md-button class="cast-play md-fab md-raised" ng-click="controls.playMedia()" ng-class="playClass()"></md-button>
		     <md-button class="cast-play md-fab md-raised ion-skip-forward" ng-click="controls.skipMedia()"></md-button>
		   </section>
		  <md-card flex layout="column">
	      <md-slider id="progress" flex min="0" max="100" ng-model="params.progress" ng-mouseup="controls.seekMedia()"></md-slider>
	      <md-slider flex min="0" max="100" ng-model="params.volume" ng-mouseup="controls.setReceiverVolume()"></md-slider>
      </md-card>
    </section>
  </div>
</div>